/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: rgb(255 0 112);
  --bg-image: url(../images/cover-image-dark.png);
  --button-color: rgb(255 0 112);
  --content-title-color: rgb(255 0 112);
  --content-margin: 50px;
  --content-margin-block: 40px;
  --decor-color: rgb(255 0 112);
  --hover-border-color: rgb(255 0 112 / 0.4);
  --main-font: "IBM Plex mono";
  --main-font-color: #f1b2ce;
  --main-font-size: 1.125rem;
  --main-line-height: 23.4px;
  --page-padding: 10px;
  --title-color: #db00ff;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-line-height: 83%;
}

@media (min-width: 768px) {
  :root {
    --content-margin: 80px;
    --content-margin-block: 60px;
    --page-padding: 20px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}